<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788059271399-6iqb092c3cnainn1onsatb9vpimgtt27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788059271399-6iqb092c3cnainn1onsatb9vpimgtt27</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788059271399-rgvpkl41hg1nnve5dqi7pbli84t5lsnv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCotAZiwMzQ0s4TYlvrWcrtFA7GQRI_z28</string>
	<key>GCM_SENDER_ID</key>
	<string>788059271399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.indianCricketLeague</string>
	<key>PROJECT_ID</key>
	<string>indian-cricket-league</string>
	<key>STORAGE_BUCKET</key>
	<string>indian-cricket-league.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788059271399:ios:dafa5b47bf2c72c4dd3242</string>
	<key>DATABASE_URL</key>
	<string>https://indian-cricket-league-default-rtdb.firebaseio.com</string>
</dict>
</plist>